footer h1 {
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
}

footer div a:hover, footer div span:hover {
    color: #db9e30;
}

footer .foot_sec_title {
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
}